.features__block{
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

.features {
    max-width: 1180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 850px) {
       flex-direction: column;
    }

    &__content {
        width: 100%;
        padding-right: 5rem;
        box-sizing: border-box;

        ul{
            margin-top: 2rem;
            padding-left: 2rem;
            box-sizing: border-box;
        }

        li{
            font-size: 1.6rem;
            margin-bottom: 1rem;
            font-family: 'Helvetica';
            &::first-letter{
                text-transform: capitalize;
            }
        }

        @media (min-width: 850px) {
            width: 50%;
        }
    }

    &__paragraph {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.1rem;
        font-family: 'Helvetica';
        font-size: #333;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        @media (min-width: 850px) {
            width: 50%;
            // padding: 20px;
            // box-sizing: border-box;
        }
    }

    &__container {
        width: 100%;
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6rem;

        &__title{
            font-size: 2.8rem;
            margin-top: 2.6rem;
            margin-bottom: 2.6rem;
            font-weight: 400;
            font-family: 'Helvetica';
            text-transform: capitalize;
            color: #333;
        }
    }

    &__item {
        display: flex;
        align-items: stretch;
        margin-bottom: 2rem;
        background-color: #F2F2F2;
        cursor: pointer;
        transition: .33s;

        &:hover{
            transform: translateY(-1rem);
        }

        @media (max-width: 850px) {
            flex-direction: column;
        }

        &__content{
            height: 100%;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 3.3rem;
            padding-bottom: 3.3rem;
            box-sizing: border-box;
        }

        &__title{
            font-size: 2.4rem;
            margin-bottom: 2.2rem;
            color: #333;
            text-transform: capitalize;
            font-family: 'Helvetica';
        }

        &__text{
            font-size: 1.6rem;
            color: #333;
            font-family: 'Helvetica';
            &::first-letter{
                text-transform: capitalize;
            }
        }

        &__img{
            width: 100%;
            object-fit: cover;
            max-height: 220px;
            object-position: center center;
            @media (min-width: 850px) {
                width: 280px;
                object-position: bottom right;
                max-height: auto;
            }
        }
    }
}

.cutting__item__container {
    display: flex;
    
    @media (max-width: 850px) {
        flex-wrap: wrap;
    }
    gap: 2rem;
}

.cutting__item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;

    @media (min-width: 850px) {
        width: 25%;
    }

    @media (min-width: 500px) {
        width: calc(50% - 10px);
    }

    &__content {
        padding: 3rem;
        box-sizing: border-box;
    }

    &__title {
        font-size: 2.4rem;
        margin-bottom: 2.2rem;
        font-weight: 500;
        color: #333;
        font-family: 'Helvetica';
        text-transform: capitalize;
    }

    &__text {
        font-size: 1.6rem;
        color: #333;
        font-family: 'Helvetica';
        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }
}

.lamination__item__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 6rem;
}

.lamination__item {
    flex: 1 1 410px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;

    &__content {
        padding: 3rem;
        box-sizing: border-box;
    }

    &__title {
        font-size: 2.4rem;
        margin-bottom: 2.2rem;
        font-weight: 500;
        color: #333;
        text-transform: capitalize;
        font-family: 'Helvetica';
    }

    &__text {
        font-size: 1.6rem;
        color: #333;
        font-family: 'Helvetica';
        &::first-letter{
            text-transform: capitalize;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }
}