.footer{
    background: #333;
    padding-top: 7.3rem;
    padding-bottom: 7.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    &__container{
        display: flex;
        // align-items: center;
        justify-content: center;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
    &_logo{
        margin-bottom: 1rem;
        &__container{
            margin-right: 3.3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
            @media (max-width: 1050px) {
                display: none;
            }
        }
        &__link{
            text-decoration: none;
            color: rgb(255,255,255);
            font-size: 1.2rem;
            font-family: 'Helvetica';
        }
    }
} 

.products_menu{
    display: flex;
    flex-wrap: wrap;

    &__block {
        margin-bottom: 2.4rem;
    }

    &__container{
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
        @media (min-width: 610px) {
            padding-left: 5rem;
            padding-right: 5rem;
        }
        @media (min-width: 1050px) {
            border-left: 1px solid #707070;
        }
        
    }
    &__title {
        text-transform: capitalize;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-family: 'Helvetica';
        color: rgb(255,255,255);
    }
    &__item {
        width: 50%;
        text-transform: capitalize;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-family: 'Helvetica';
        color: #707070;

        @media (min-width: 750px) {
            width: 33%;
        }

        @media (min-width: 970px) {
            width: 25%;
        }
    }
}

.company_socials{
    display: flex;
}

.footer__menu {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .company_menu__block {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    &__contacts{
        width: 80%;
        display: flex;
        flex-direction: column;

        &__item{
            text-transform: capitalize;
            font-size: 1.2rem;
            line-height: 1.6rem;
            margin-bottom: 1rem;
            font-family: 'Helvetica';
            color: #707070;
        }
    }
}