// Font - Icon


@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icon-font/fonts/icomoon.eot?q9mwn4');
  src:  url('./assets/fonts/icon-font/fonts/icomoon.eot?q9mwn4#iefix') format('embedded-opentype'),
    url('./assets/fonts/icon-font/fonts/icomoon.ttf?q9mwn4') format('truetype'),
    url('./assets/fonts/icon-font/fonts/icomoon.woff?q9mwn4') format('woff'),
    url('./assets/fonts/icon-font/fonts/icomoon.svg?q9mwn4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-user-solid-circle:before {
  content: "\e901";
}


/**//**/


body{
  margin: 0;
}
:root{
  font-size: 8.6px;
  @media (min-width: 850px){
    font-size: 10px;
  }
}
ul{
  margin-top: 0;
  margin-bottom: 0;
}
h1,h2,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}
a{
  text-decoration: none;
}
.displayNone{
  display: none;
}
.title{
  font-size: 3.2rem;
  padding-bottom: 1.35rem;
  box-sizing: border-box;
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Helvetica';
  border-bottom: 1px solid #707070;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper{
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}